$primary-color: #522266;
$secondary-color: #ececec;
$font-family: 'Alegreya Sans', sans-serif;

.material-icons {
  color: lighten($primary-color, 60%);
}

.material-icons:hover {
  color: $primary-color;
}

.genre-link, 
.director-link {
  color: $primary-color;
  
}

.genre-link:hover, 
.director-link:hover {
  color: lighten($primary-color, 20%);
  text-decoration: none !important;
}

